#promo-section {
    background-color: $white;

    .product-promo {
        position: relative;
        max-width: 650px;
        height: 325px;
        background-color: $bbop-brand-blue;
        border-radius: 37px; 
        padding: 39px 31.05px 210px 37.06px;
      
      
      h3 {
        @include h3;
      }

      h4 {      
        @include h4;
      }
    
      button.btn-shop {
        @include btn-shop;
        font-family: 'Assistant';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #FFFFFF;

        &:hover {
            background-color: $bbop-button-bg-hover;
            
        }
      }
    }

}