@import 'variables';

footer {
    background-color: $bbop-button-bg;
    .links {
        .bbop-footer-links {
            p {
                font-size: $fontsize_xsmall;
                color: $white;
            }

            ul {

                li{
                    display: flex;
                    list-style: none;
                }
                
                    li.home:before {
                        font-family: "FontAwesome";
                        content: "\f015";
                        color: $white;
                        font-size: $fontsize_small;
                        padding-right:5px;
                    }
                    li.envelope:before {
                        font-family: "FontAwesome";
                        content: "\f0e0";
                        color: $white;
                        font-size: $fontsize_xsmall;
                        padding-right:5px;
                        
                    }
                    li.phone:before {
                        font-family: "FontAwesome";
                        content: "\f095";
                        color: $white;
                        font-size: $fontsize_small;
                        padding-right:5px;
                        
                    }
                    
                    
                    a {
                        font-size: $fontsize_xsmall;
                        color: $white;
                        text-decoration: none;
                    }
                
            }

            h3 {
                @include h3;
            }
        }
    }

    .bugs {
        display: none;
    }
    
}

ul.footer.links { 
    
    li {
        display: none; 
    }  
    a {
        font-size: $fontsize_medium;
        text-decoration: none;
        color: $white;
    }

    
}