.page-title-wrapper {
    display: none;
}

.layer-standard {
    h4 {
        font-size: $fontsize_small;
        font-weight: 600;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    p {      
        font-size: $fontsize_small;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
}