@import 'variables';

header.page-header {
    background-color: $white;

    .panel.wrapper {
        background-color: $bbop-brand-blue;
    }

    .row {
        width: 100%;
        display: inline-flex;

        .headercol1 {
            display: flex;
            justify-content: space-around;

            .nav-sections {
                width: 100%;
            }

            @media screen and (max-width: 767px ) {
                width: 98%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 538px;
            }

            .logo {
                @media screen and (max-width: 767px ) {
                    width: 38%;
                }
                @media screen and (max-width: 400px ) {
                    width: 98%;
                }

            }

        }

        .header-column2 {
            width: 100%;         
        }

        .header-column3 {
            width:100%;   
            
            .block-search {
                float: left !important;
            }

            .minicart-wrapper {
                float: right !important;
            }

            @media screen and (max-width: 767px) {
                position: absolute;
                top: 35px;
                right: 42px;  
            }
        }




    }

    .header.content {
        padding: 12px 20px 0;
        max-height: 66px;
        height: auto;

        .headercol3 {
            .block-search.custom {
                .searchbox {                  
                    button.searchbox-submit::before {
                        content: url(/static/frontend/Beautybop/simple/en_GB/images/icon_search.png);
                        
                    }
                }

            }
        }

        .headercol4 {
            position: absolute;
            right: 20px;

            .col-lg-1 {
                width: 10px;
            }
            
            .minicart-wrapper {
                position: absolute;
                right: 6px;
                display: flex;
                flex-direction: column;

                .action.showcart::before,
                .action.showcart.active::before{
                    content: url(/static/frontend/Beautybop/simple/en_GB/images/cart.png);
           
                }
            }
        }
    }

    .block-search .action.search.disabled, 
    .block-search .action.search[disabled], 
    fieldset[disabled] .block-search .action.search {
        opacity: 1;
    }
}

nav.navigation  {
    background-color: $white;
}


.page-wrapper>.widget {
    margin: 0;
}


