@import 'variables';

header.page-header {
    background-color: $white;

    .panel.wrapper {
        background-color: $lightpink;
    }

    .row {
        width: 100%;
        display: inline-flex;

        .header-column1 {
            width:100%;
            display: flex;
            justify-content: space-around;

            .nav-sections {
                width: 100%;
            }

        }

        .header-column2 {
            width: 100%;         
        }

        .header-column3 {
            width:100%;   
            
            .block-search {
                float: left !important;
            }

            .minicart-wrapper {
                float: right !important;
            }
        }
    }
}

nav.navigation  {
    background-color: $white;

}

// cart 

.minicart-wrapper .action.showcart:before {
    content: '\'';
    background-image: url(http://localhost:3000/static/frontend/Beautybop/simple/en_GB/images/cart.png);
    background-repeat: no-repeat;
    width: 69px;
    height: auto;
        
}

