@import 'variables';

header.page-header {
    background-color: $white;

    .panel.wrapper {
        background-color: $lightpink;
    }

    .row {
        width: 100%;
        display: inline-flex;

        .header-column1 {
            width:100%;
            display: flex;
            justify-content: space-around;

            .nav-sections {
                width: 100%;
            }

        }

        .header-column2 {
            width: 100%;         
        }

        .header-column3 {
            width:100%;   
            
            .block-search {
                float: left !important;
            }

            .minicart-wrapper {
                float: right !important;
            }
        }




    }

    .header.content {
        .headercol4 {
            position: relative;
            .minicart-wrapper {
                position: absolute;
                left:0;
                display: flex;
                flex-direction: column;

                .action.showcart::before,
                .action.showcart.active::before{
                    content: url(/static/frontend/Beautybop/simple/en_GB/images/cart.png);
           
                }
            }
        }
    }
}

nav.navigation  {
    background-color: $white;
}



