@import 'variables';

.freeshipping {
    width: 366px;
    margin: 0 auto;
    font-family: var(--fs-font-family);
    letter-spacing: 0.1em;
    font-size: var(--fs-small-text);
    color: $black;
    text-align: center;

    @media ( max-width: 776px) {
        width: 100%;
    }
}

.opening-hours {
    font-family: var(--fs-font-family);
    font-size: var(--fs-small-text);
}

.panel.header {
    @include py0;

    & .links {
    display: flex !important;
    align-items: center;
    }
}

.toprowcol1.col-sm-12.col-md-4,
.toprowcol2.col-sm-12.col-md-4 {
    display: flex;
    align-items: center; 
}

.toprowcol3.col-sm-12.col-md-4 {
    position: relative;
}

ul.header.links {
    position: absolute;
    right: 0;
    
    & > li {
        list-style: none;
        margin-right:10px;
        display: flex;
        align-items: center;
    }
    a {
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    } 

    & > .link > .authorization-link {
        margin-left: 36px;
    }

    .greet.welcome,
    .compare {
        display: none;
    }
}